.container{
   height: 50%;
   width: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   /* border: 2px solid white; */
   margin: 0rem 5rem 0rem 5rem;
}
input{
    width: 45%;
    height: 12%;
    font-size: 20px;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-radius: 3.8px;
    background: #292929;
    color: white;

}
.subBtn{
    background-color: #72DB73;
    color: white;
    width: 45%;
    height: 10%;
    font-weight: 500;
    border: none;
    font-size: 25px;
    border-radius: 28px;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 15px;
}
.boxContainer{
    width: 50%;
    display: flex;
}
.checkboxpara{
    font-size: 20px;
}
#checkbox{
    width: 30px;
    height: 25px;
    margin-left: 2rem;
}