.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default to 4 columns for desktop */
    gap: 1rem; /* Space between items */
}

/* Responsive Styles for Mobile */
@media (max-width: 376px) {
    .container {
        grid-template-columns: 1fr; /* Change to 1 column for mobile */
    }
}

.moviesImg {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: add rounded corners */
}
